<div class="pagination">
  <button
    class="pagination-button"
    data-test-id="pagination-first-page"
    (click)="paginationFirstPage()"
    [disabled]="currentPage === 0"
  >
    ↞
  </button>
  <button
    class="pagination-button"
    data-test-id="pagination-previous-page"
    (click)="paginationPreviousPage()"
    [disabled]="currentPage === 0"
  >
    ←
  </button>
  <span data-test-id="current-page"
    >Page {{ currentPage + 1 }} of {{ totalPages }}</span
  >
  <button
    class="pagination-button"
    data-test-id="pagination-next-page"
    (click)="paginationNextPage()"
    [disabled]="currentPage === this.totalPages - 1"
  >
    →
  </button>
  <button
    class="pagination-button"
    data-test-id="pagination-last-page"
    (click)="paginationLastPage()"
    [disabled]="currentPage === this.totalPages - 1"
  >
    ↠
  </button>
</div>
