<div class="controllable-progress-wrapper">
  <div class="controls">
    <label class="label">
      <span class="label-content">
        <span> Progress: </span>
        <b>{{ sliderProgress }}%</b>
      </span>
      <input
        class="input"
        type="range"
        min="0"
        max="100"
        [value]="sliderProgress"
        (input)="changeProgress($event)"
      />
    </label>
    <label class="label">
      <span class="label-content">
        <span>Radius:</span>
        <b>{{ sliderRadius }}px</b>
      </span>
      <input
        class="input"
        type="range"
        min="50"
        max="200"
        [value]="sliderRadius"
        (input)="changeRadius($event)"
      />
    </label>
    <label class="label">
      Color:
      <input
        class="input"
        type="color"
        [value]="sliderColor"
        (input)="changeColor($event)"
      />
    </label>
  </div>

  <div class="controllable-progress">
    <t-progress
      [radius]="sliderRadius"
      [progress]="sliderProgress"
      [color]="sliderColor"
    ></t-progress>
  </div>
</div>
