<div class="table">
  <div class="table-header">
    <div class="table-row">
      <span class="table-cell" *ngFor="let column of columns"
        >{{ column.name }}
      </span>
    </div>
  </div>

  <div
    class="table-row"
    *ngFor="
      let product of pageSize
        ? data.slice(_pageCursor * pageSize, _pageCursor * pageSize + pageSize)
        : data
    "
  >
    <span class="table-cell" *ngFor="let column of columns">
      {{ product[column.property] }}
    </span>
  </div>

  <div class="pagination" *ngIf="pageSize !== null">
    <button
      class="pagination-button"
      (click)="paginationFirstPage()"
      [disabled]="_pageCursor === 0"
    >
      ↞
    </button>
    <button
      class="pagination-button"
      (click)="paginationPreviousPage()"
      [disabled]="_pageCursor === 0"
    >
      ←
    </button>
    <span>Page {{ _pageCursor + 1 }} of {{ totalPages }}</span>
    <button
      class="pagination-button"
      (click)="paginationNextPage()"
      [disabled]="_pageCursor === this.totalPages - 1"
    >
      →
    </button>
    <button
      class="pagination-button"
      (click)="paginationLastPage()"
      [disabled]="_pageCursor === this.totalPages - 1"
    >
      ↠
    </button>
  </div>
</div>
