.loading {
  text-align: center;
}
.products-grid {
  display: block;
  height: 70vh;
}

.page-size-selector {
  margin-bottom: 1rem;
}

.select {
  display: inline-flex;
  width: auto;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;

  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, border, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

.select:hover {
  background-color: var(--background-highlight-color);
  border: 1px solid var(--accent-color);
}
