<div>
  <h2>DataGrid</h2>
  <div *ngIf="products !== null; else loading">
    <t-grid
      [data]="products"
      [pageSize]="pageSize"
      [sortable]="true"
      (paginationChange)="performFetch($event)"
      (sortChange)="handleSortChange($event)"
    >
      <t-column [name]="'ID'" [property]="'id'" [sortable]="true"></t-column>
      <t-column
        [name]="'Product'"
        [property]="'title'"
        [sortable]="true"
      ></t-column>
      <t-column [name]="'Description'" [property]="'description'"></t-column>
      <t-column
        [name]="'Category'"
        [property]="'category'"
        [sortable]="true"
      ></t-column>
      <t-column
        [name]="'Price'"
        [property]="'price'"
        [sortable]="true"
      ></t-column>

      <t-column
        [name]="'Rating'"
        [property]="'rating'"
        [sortable]="true"
      ></t-column>
    </t-grid>
  </div>

  <ng-template #loading>
    <div class="loading">Loading data...</div>
  </ng-template>
</div>
